pkgbase = xiatiao-player
	pkgdesc = A GTK4 local music player with a Rust audio backend
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/usbipad/Xiatiao-Player
	arch = x86_64
	license = GPL-3.0-or-later
	depends = python
	depends = python-gobject
	depends = python-cairo
	depends = python-mutagen
	depends = python-numpy
	depends = python-yaml
	depends = gtk4
	depends = libadwaita
	depends = gdk-pixbuf2
	depends = librsvg
	depends = alsa-lib
	depends = pipewire
	depends = pipewire-audio
	depends = ffmpeg
	depends = iproute2
	depends = glib2
	depends = xdg-utils
	depends = dbus
	optdepends = python-setproctitle: 让进程名显示为 xiatiao-player（可选）
	makedepends = cargo
	makedepends = rust
	makedepends = clang
	options = !lto
	source = xiatiao-player-1.0.4.tar.gz::https://github.com/usbipad/Xiatiao-Player/archive/v1.0.4.tar.gz
	sha256sums = 77b65fc75f82fd21406038c88f6b3ba2152e113e0a179d7729c5f476e3794f1e

pkgname = xiatiao-player
