[Desktop Entry]
Type=Application
Version=1.0
Name=Xiatiao
Name[zh_CN]=虾条播放器
GenericName=Music Player
GenericName[zh_CN]=音乐播放器
Comment=Local music player
Comment[zh_CN]=本地音乐播放器
Exec=xiatiao-player
Icon=xiatiao
Terminal=false
Categories=AudioVideo;Audio;Player;GTK;
StartupNotify=true
StartupWMClass=com.xiatiao.player
